/* Wont change */
:root {
    --femboi-color: #FC6791;
    --blue-color : #00BAFA;
    --baba-color: #00FABA;

    /* Will change in code*/
    --interest-color: var(--baba-color);
}

html {
    /* TODO: Remove color banding somehow*/
    background: linear-gradient(to bottom right, #2F2F2F, #1D1D1D);

    color: #D1D1D1;
    text-align: center;

    font-family: "Kanit", sans-serif;
}

.line {
    margin: 3px;
    height: 6px;
    border-radius: 6px;
    background-color: #111;
}

.home-title {
    font-size: 2rem;
}

.home-description {
    font-size: 1.25rem;
}

/* For non-desktop devices */
@media (max-width: 768px) {
    .home-title {
        text-align: center;
        font-size: 1.5rem;
    }

    .home-description {
        font-size: 1rem;
    }
}

.blob {
    background-color: var(--interest-color);
    transition: .5s background-color ease;

    /* TODO: Use radial gradient? blur might be expensive */
    filter: blur(50px);
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: -100;
}
